ion-tab{
  padding-top: 100px;
}


body{
  background-color: black;
  color: white;
}

ion-tab-bar, ion-tab-button
{
  background-color: gray;
}

ion-icon
{
  color: black;
}

ion-grid
{
  margin: 0;
}

.centrar-texto
{
  display: flex;
  align-items: center;
}

.centrar-boton
{
  text-align: center;
}

